@font-face {
  font-family: Lazer84;
  src: url(../medias/models/Lazer84.ttf);
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
canvas {
    width: 100%;
    height: 100%;
}

#welcome {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    font-size: 120px;
    color: white;
    justify-content: flex-start;
    font-family: Lazer84;
    padding-bottom: 20px;
}

#welcome div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    text-align: center;
    font-family: Lazer84;
}

#welcome a {
    color: white;
    text-decoration: none;
    padding: 10px 40px;
}

#welcome a:hover {
    color: #888888;
}
